@using ShopeeFood_Web.Models;
@model IEnumerable<ShopeeFood_Web.Models.ShopMenuModel>


@{
    ViewData["Title"] = "ShopDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var shop = ViewData["InfoShop"] as ShopModel;
    var cus = ViewData["InfoCustomer"] as CustomerModel;
}

<link rel="stylesheet" href="~/css/css_detail_product_shopee.css" />

@if (ViewBag.Login == null || ViewBag.ResetCart != null)
{
    <div class="now-detail-restaurant clearfix">
        <div class="container">
            <div class="detail-restaurant-img">
                <img src="@shop.ShopImage" alt="@shop.ShopName" class="">
            </div>
            <div style="width:735px" class="detail-restaurant-info">
                <nav style="height: 45px;" aria-label="breadcrumb">
                    <ol style="background-color: transparent;" class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">TP.HCM</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">@shop.ShopName</a>
                        </li>
                    </ol>
                </nav>
                <div class="kind-restaurant">
                    <span>Quán ăn</span>
                </div>
                <h1 class="name-restaurant">@shop.ShopName</h1>
                <div class="address-restaurant">@shop.Address</div>
                <div class="rating">
                    <div class="stars">
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                            </svg>
                        </span>
                        <span class="number-rating">10+</span>
                        <span style="color: black;">đánh giá trên ShopeeFood</span>
                    </div>
                </div>
                <div class="status-restaurant">
                    <div class="opentime-status">
                        <span class="stt online" title="Mở cửa"></span>
                    </div>
                    <div class="time">
                        <svg style="margin-top:5px" xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                        @shop.OpenTime - @shop.CloseTime
                    </div>
                </div>
                <div class="cost-restaurant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                    </svg>
                    <span style="margin-top: -4px; margin-left:5px">10.000 - 30.000</span>
                </div>
                <div style="margin-top:25px" class="utility-restaurant clearfix">
                    <div class="utility-item">
                        <div class="utility-title">Phí dịch vụ</div>
                        <div class="utility-content">
                            <span class="txt-bold txt-red"> 0.0% Phí phục vụ </span>
                        </div>
                    </div>
                    <div class="utility-item">
                        <div class="utility-title">Dịch vụ bởi</div>
                        <div class="utility-content">
                            <span class="txt-bold txt-red">ShopeeFood</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container relative clearfix">
        <div class="now-menu-restaurant">
            <div class="menu-restaurant-tab">
                <div class="item">Thực đơn</div>
            </div>
            <div class="menu-restaurant-content-tab">
                <div class="menu-restaurant-container">
                    <div style="border-radius: 10px;" class="menu-restaurant-category">
                        <div class="list-category">
                            <div class="scrollbar-container ps">
                                @foreach (var item in ViewData["ProductTypeShop"] as IEnumerable<ProductTypeModel>)
                                {
                                    <div class="item">
                                        <a href="#@item.ProductTypeId" title="@item.ProductTypeName" class="item-link ">@item.ProductTypeName</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div style="border-radius: 10px;" class="menu-restaurant-detail">
                        <div style="border-radius: 10px;" class="promotions-order">
                            <div class="promotion-item">
                                <img src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png" alt="Giảm giá một số món ăn trên menu" class="icon-promotion">
                                <div class="contents">Giảm giá một số món ăn trên menu</div>
                            </div>
                        </div>
                        <div class="menu-restaurant-list">
                            <div class="search-items">
                                <p class="input-group">
                                    <svg style="position: absolute;margin: 12px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    <input autocomplete="off" type="text" id="txtSearchProduct" name="con" placeholder="Tìm món..." value="">
                                </p>
                            </div>
                            <div class="restaurant-item">
                                <div aria-label="grid" aria-readonly="true" role="grid" tabindex="0" style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 558px; will-change: transform; outline: none;">
                                    <div id="searchProductShop" role="rowgroup" style="width: auto; max-width: 558px; position: relative;">

                                        <!-- PartialView SearchProduct -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="now-detail-restaurant clearfix">
        <div class="container">
            <div class="detail-restaurant-img">
                <img src="@shop.ShopImage" alt="@shop.ShopName" class="">
            </div>
            <div style="width:735px" class="detail-restaurant-info">
                <nav style="height: 45px;" aria-label="breadcrumb">
                    <ol style="background-color: transparent;" class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">TP.HCM</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link" rel="nofollow" href="#">@shop.ShopName</a>
                        </li>
                    </ol>
                </nav>
                <div class="kind-restaurant">
                    <span>Quán ăn</span>
                </div>
                <h1 class="name-restaurant">@shop.ShopName</h1>
                <div class="address-restaurant">@shop.Address</div>
                <div class="rating">
                    <div class="stars">
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                        <span class="full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                            </svg>
                        </span>
                        <span class="number-rating">10+</span>
                        <span style="color: black;">đánh giá trên ShopeeFood</span>
                    </div>
                </div>
                <div class="status-restaurant">
                    <div class="opentime-status">
                        <span class="stt online" title="Mở cửa"></span>
                    </div>
                    <div class="time">
                        <svg style="margin-top:5px" xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                        @shop.OpenTime - @shop.CloseTime
                    </div>
                </div>
                <div class="cost-restaurant">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                    </svg>
                    <span style="margin-top: -4px; margin-left:5px">10.000 - 30.000</span>
                </div>
                <div style="margin-top:25px" class="utility-restaurant clearfix">
                    <div class="utility-item">
                        <div class="utility-title">Phí dịch vụ</div>
                        <div class="utility-content">
                            <span class="txt-bold txt-red"> 0.0% Phí phục vụ </span>
                        </div>
                    </div>
                    <div class="utility-item">
                        <div class="utility-title">Dịch vụ bởi</div>
                        <div class="utility-content">
                            <span class="txt-bold txt-red">ShopeeFood</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container relative clearfix">
        <div class="now-menu-restaurant">
            <div class="menu-restaurant-tab">
                <div class="item">Thực đơn</div>
            </div>
            <div class="menu-restaurant-content-tab">
                <div class="menu-restaurant-container">
                    <div style="border-radius: 10px;" class="menu-restaurant-category">
                        <div class="list-category">
                            <div class="scrollbar-container ps">
                                @foreach (var item in ViewData["ProductTypeShop"] as IEnumerable<ProductTypeModel>)
                                {
                                    <div class="item">
                                        <a href="#@item.ProductTypeId" title="@item.ProductTypeName" class="item-link ">@item.ProductTypeName</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div style="border-radius: 10px;" class="menu-restaurant-detail">
                        <div style="border-radius: 10px;" class="promotions-order">
                            <div class="promotion-item">
                                <img src="https://images.foody.vn/icon/discount/s/shopeefood_voucher_14.png" alt="Giảm giá một số món ăn trên menu" class="icon-promotion">
                                <div class="contents">Giảm giá một số món ăn trên menu</div>
                            </div>
                        </div>
                        <div class="menu-restaurant-list">
                            <div class="search-items">
                                <p class="input-group">
                                    <svg style="position: absolute;margin: 12px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    <input autocomplete="off" type="text" id="txtSearchProduct" name="con" placeholder="Tìm món..." value="">
                                </p>
                            </div>
                            <div class="restaurant-item">
                                <div aria-label="grid" aria-readonly="true" role="grid" tabindex="0" style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 558px; will-change: transform; outline: none;">
                                    <div id="searchProductShop" role="rowgroup" style="width: auto; max-width: 558px; position: relative;">

                                        <!-- PartialView SearchProduct -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="right:0; width:430px" class="QRcode" id="QRcode">
            <!--Partial View-->
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

@section scripts{
    <!-- Add Item Cart -->
    <script>
        $(document).on("click", ".add-product", function () {
            // Get Id Product
            var eventId = $(this).data('id');

            $.ajax({
                url: "@Url.Action("SearchPartialView", "Home")",
                type: "GET",
                data: { 'condition': $("#txtSearchHome").val() },
                success: function (response) {
                    $('#search').load('/Home/SearchPartialView');
                }
            })
            alert(eventId);
        });
    </script>

    <!-- Show PartialView -->
    <script>
        $('#QRcode').load('/Cart/OrderDetaisPartial')
        $('#searchProductShop').load('/Shop/SearchProductShopPartial')
    </script>

    <!-- Upadte Item Quantity  -->
    <script>
        $(document).on('change keyup', '.updateQuantity', function () {
            var productId = $(this).data('id');
            var quantity = $(this).val();

            console.log(productId + " - " + quantity);

            $.ajax({
                url: "@Url.Action("UpdateQuantityCart", "Cart")",
                type: "GET",
                data: { 'productId': productId, 'quantity': quantity },
                success: function (response) {
                    $('#QRcode').load('/Cart/OrderDetaisPartial')
                }
            });
        });
    </script>

    <!-- Search ShopMenu  -->
    <script>
        $(document).ready(function () {
            event.preventDefault();
            $("#txtSearchProduct").keyup(function () {

                console.log($("#txtSearchProduct").val());

                $.ajax({
                    url: "@Url.Action("SearchProductShopPartial", "Shop")",
                    type: "GET",
                    data: { 'condition': $("#txtSearchProduct").val() },
                    success: function (response) {
                        $('#searchProductShop').load('/Shop/SearchProductShopPartial')
                    }
                })
            });
        });
    </script>

}
