@model IEnumerable<ShopeeFood_Web.Models.OrderDetailModel>

<table class="table">
    <thead>
        <tr style="color:#ee4d2d">

            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng đặt
            </th>
            <th>
                Giá
            </th>
            <th>
                Tổng tiền
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                </td>
                <td>
                    @string.Format("{0:0,0}", item.Price)
                </td>
                <td>
                    @string.Format("{0:0,0}", item.Total_price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="height: 50px; color: #6c757d;">
    <div style="float: left; margin:10px 0 0 10px;">Tạm tính: </div>
    <div style="float: right; font-weight: bold; margin: 10px 35px 0 0;">@ViewBag.TotalOrder đ</div>
</div>
