@model IEnumerable<ShopeeFood_Web.Models.CityDetail>

@foreach (var item in Model)
{
    <a class="passCityIdBusinessId nav-item" data-id="@item.CityId" data-bus="@item.BusinesId"> @item.BusinessName </a>
    @*<a class="nav-item" href="~/Home/HomePageShopeeFood?bussinessId=@item.BusinesId">@item.BusinessName</a>*@
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Get Selected Value -->
<script>
    $(document).on("click", ".passCityIdBusinessId", function () {

        var cityId = $(this).data("id");
        var busId = $(this).data("bus");

        console.log(cityId + " " + busId);

        $.ajax({
            url: "@Url.Action("ShopCategoryHomeCity", "Shop")",
            type: "GET",
            data: { 'cityId': cityId, 'bussinessId' : busId },
            success: function (response) {
                window.location = "@Url.Action("HomePageShopeeFood", "Home")";
            }
        });
    });
</script>

